@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply w-full h-full;
  }

  body {
    @apply m-0 flex justify-center items-center w-full;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu; /* All system default fonts as fallback */
  }

  main {
    @apply relative flex flex-col justify-center w-full min-h-screen max-w-3xl mx-auto;
  }

  h1 {
    @apply text-h1 leading-normal tracking-tight m-0;
  }

  p {
    @apply text-base font-light leading-7 m-0;
  }

  a {
    @apply underline transition-colors duration-200 ease-out;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}